name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Go 1.25
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.x'

    - name: Lint
      uses: golangci/golangci-lint-action@v9

    - name: Test
      run: |
        make